.countries {
    overflow-y: auto;
    height: 1296px;
    user-select: none;
    background-color: beige;
    border-radius: 8px;
    border: 1px solid #444444;
}
.countries-item{
    border: 1px solid #cccccc;
    padding: 4px 8px;
    cursor: pointer;
    display: flex;
    margin-bottom: 1px;
}
.countries-item:hover,
.countries-item:active{
    background-color: #C2554F;
}

