.countries {
    overflow-y: auto;
    height: 900px;
    user-select: none;
    background-color: beige;
}
.countries-item{
    padding: 4px 8px;
    cursor: pointer;
    display: flex;
    margin-bottom: 1px;
}
.countries-item:hover{
    background-color: #C2554F;
}

